<footer class="footer">
  <small>
   
   Site by Maciej Kucharski
  </small>
  <nav>
    <ul>
     
      <li><a href="http://news.railstutorial.org/">Rails tutorial</a></li>
    </ul>
  </nav>
</footer>